{% extends "admin/base_site.html" %}

{% load static django_rq %}

{% block extrastyle %}
    {{ block.super }}
    <link href="{% static 'admin/css/forms.css' %}" type="text/css" rel="stylesheet">
    <link href="{% static 'admin/css/changelists.css' %}" type="text/css" rel="stylesheet">
    <link href="{% static 'django_rq/css/admin.css' %}" type="text/css" rel="stylesheet">
{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">Home</a> &rsaquo;
        <a href="{% rq_url 'home' %}">Django RQ</a> &rsaquo;
        <a href = "{% rq_url 'queue_details' queue_index %}">{{ queue.name }}</a> &rsaquo;
        {{ action|capfirst }}
    </div>
{% endblock %}

{% block content_title %}<h1>Are you sure?</h1>{% endblock %}

{% block content %}

<div id="content-main">
    <p>
        Are you sure you want to <b>{{ action|capfirst }}</b> the following jobs from <a href="{% rq_url 'queue_details' queue_index %}" target="_blank">{{ queue.name }}</a>?
    </p>

    <div class="module" id="changelist">
        <div class="changelist-form-container">
          <div>
            <form action="{% rq_url 'actions' queue_index %}" method="post">
                {% csrf_token %}
                <div class="results">
                    <table id="result_list">
                        <thead>
                            <tr>
                                <th scope="col"><div class="text"><span>ID</span></div></th>
                                <th scope="col"><div class="text"><span>Created</span></div></th>
                                <th scope="col"><div class="text"><span>Enqueued</span></div></th>
                                <th scope="col"><div class="text"><span>Ended</span></div></th>
                                <th scope="col"><div class="text"><span>Status</span></div></th>
                                <th scope="col"><div class="text"><span>Callable</span></div></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for job in jobs %}
                                <tr class="{% cycle 'row1' 'row2' %}">
                                    {% if job.missing %}
                                        <th>{{ job.id }}</th>
                                        <td colspan="5"><em>(no longer available)</em></td>
                                    {% else %}
                                        <th>
                                            <a href="{% rq_url 'job_detail' queue_index job.id %}" target="_blank">
                                                {{ job.id }}
                                            </a>
                                        </th>
                                        <td>
                                            {% if job.created_at %}{{ job.created_at|timestamp_tooltip }}{% endif %}
                                        </td>
                                        <td>
                                            {% if job.enqueued_at %}{{ job.enqueued_at|timestamp_tooltip }}{% endif %}
                                        </td>
                                        <td>
                                            {% if job.ended_at %}{{ job.ended_at|timestamp_tooltip }}{% endif %}
                                        </td>
                                        <td>{{ job|job_status }}</td>
                                        <td>{{ job|show_func_name }}</td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="submit-row" style="margin-top: 20px;">
                    {% for job_id in job_ids %}
                        <input type="hidden" name="job_ids" value="{{ job_id }}">
                    {% endfor %}
                    <input type="hidden" name="action" value="{{ action }}" />
                    <input type="hidden" name="next_url" value="{{ next_url }}" />
                    <input type="submit" value="{{ action|capfirst }} {{ jobs|length }} job{{ jobs|length|pluralize }}" class="default" />
                </div>
            </form>
          </div>
        </div>
    </div>
</div>

{% endblock %}
