{% extends "admin/base_site.html" %}

{% load static jquery_path django_rq %}

{% block title %}{{ job_status }} Job Executions in {{ queue.name }} {{ block.super }}{% endblock %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/changelists.css" %}">
{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <script type="text/javascript" src="{% get_jquery_path as jquery_path %}{% static jquery_path %}"></script>
    <script type="text/javascript" src="{% static "admin/js/jquery.init.js" %}"></script>
    <script type="text/javascript" src="{% static "admin/js/actions.js" %}"></script>
    <script type="text/javascript">
    (function($) {
        $(document).ready(function($) {
            $("tr input.action-select").actions();
        });
    })(django.jQuery);
    </script>
{% endblock %}


{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">Home</a> &rsaquo;
        <a href="{% url 'rq_home' %}">Django RQ</a> &rsaquo;
        <a href="{% url 'rq_jobs' queue_index %}">{{ queue.name }}</a>
    </div>
{% endblock %}

{% block content_title %}<h1>Job Executions in {{ queue.name }}</h1>{% endblock %}

{% block content %}

<div id="content-main">

    <div class="module" id="changelist">
        <div class="changelist-form-container">
            <form id="changelist-form" action="{% url 'rq_confirm_action' queue_index %}" method="post">
                {% csrf_token %}
                <div class="actions">
                    <label>Actions:
                        <select name="action" required>
                            <option value="" selected>---------</option>
                            <option value="delete">Delete</option>
                            <option value="stop">Stop</option>
                        </select>
                    </label>
                    <button type="submit" class="button" title="Execute selected action" name="index" value="0">Go</button>
                </div>
                <div class="results">
                    <table id="result_list">
                        <thead>
                            <tr>
                                <th scope="col" class="action-checkbox-column">
                                    <div class="text">
                                        <span><input type="checkbox" id="action-toggle"></span>
                                    </div>
                                    <div class="clear"></div>
                                </th>
                                <th scope="col" class="sortable">
                                    <div class='text'><span>Execution ID</span></div>
                                    <div class="clear"></div>
                                </th>
                                <th scope="col" class="sortable">
                                    <div class='text'><span>Created</span></div>
                                    <div class="clear"></div>
                                </th>
                                <th scope="col" class="sortable">
                                    <div class='text'><span>Last Heartbeat</span></div>
                                    <div class="clear"></div>
                                </th>
                                <th scope="col" class="sortable">
                                    <div class='text'><span>Enqueued</span></div>
                                    <div class="clear"></div>
                                </th>
                                <th scope="col" class="sortable">
                                    <div class='text'><span>Callable</span></div>
                                    <div class="clear"></div>
                                </th>
                                {% block extra_columns %}
                                {% endblock extra_columns %}
                            </tr>
                        </thead>
                        <tbody>                           
                            {% for execution in executions %}
                                <tr>
                                    <td class="action-checkbox">
                                        <input class="action-select" name="_selected_action" type="checkbox" value="{{ execution.job.id }}">
                                    </td>
                                    <th>
                                        <a href="{% url 'rq_job_detail' queue_index execution.job_id %}">
                                            {{ execution.id }}
                                        </a>
                                    </th>
                                    <td>
                                        {% if execution.created_at %}
                                            {{ execution.created_at|to_localtime|date:"Y-m-d, H:i:s" }}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if execution.last_heartbeat %}
                                            {{ execution.last_heartbeat|to_localtime|date:"Y-m-d, H:i:s" }}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if execution.job.enqueued_at %}
                                            {{ execution.job.enqueued_at|to_localtime|date:"Y-m-d, H:i:s" }}
                                        {% endif %}
                                    </td>
                                    <td>{{ execution.job|show_func_name }}</td>
                                    {% block extra_columns_values %}
                                    {% endblock extra_columns_values %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <p class="paginator">
                    {% for p in page_range %}
                        {% if p == page %}
                            <span class="this-page">{{ p }}</span>
                        {% elif forloop.last %}
                            <a href="?page={{ p }}" class="end">{{ p }}</a>
                        {% else %}
                            <a href="?page={{ p }}">{{ p }}</a>
                        {% endif %}
                    {% endfor %}
                    {{ num_jobs }} jobs
                </p>
            </form>
        </div>
    </div>
</div>

{% endblock %}
