{% extends "admin/base_site.html" %}
{% load static %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/changelists.css" %}">
    <style>
        #changelist table thead th:first-child {
            width: inherit
        }
    </style>
{% endblock %}

{% block title %}Queues{% endblock %}

{% block content_title %}<h1>Queues</h1>{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">Home</a> &rsaquo;
        <a href="{% url url_prefix|add:'home' %}">Django RQ</a>
    </div>
{% endblock %}

{% block content %}

<div id="content-main">
    <div class="module" id="changelist">
        <div class="changelist-form-container">
            <form id="changelist-form" method="post" {% if cl.formset and cl.formset.is_multipart %}
                enctype="multipart/form-data" {% endif %} novalidate>{% csrf_token %}
                <div class="results">
                    <table id="results_list">
                        <thead>
                            <tr>
                                <th scope="col" class="sortable">
                                    <div class="text"><span>Name</span></div>
                                    <div class="clear"></div>
                                </th>
                                <th scope="col" class="sortable">
                                    <div class="text"><span>Queued Jobs</span></div>
                                    <div class="clear"></div>
                                </th>
                                <th scope="col" class="sortable">
                                    <div class="text"><span>Oldest Queued Job</span></div>
                                    <div class="clear"></div>
                                </th>
                                <th scope="col" class="sortable">
                                    <div class="text"><span>Active Jobs</span></div>
                                    <div class="clear"></div>
                                </th>
                                <th scope="col" class="sortable">
                                    <div class="text"><span>Deferred Jobs</span></div>
                                    <div class="clear"></div>
                                </th>
                                <th scope="col" class="sortable">
                                    <div class="text"><span>Finished Jobs</span></div>
                                    <div class="clear"></div>
                                </th>
                                <th scope="col" class="sortable">
                                    <div class="text"><span>Failed Jobs</span></div>
                                    <div class="clear"></div>
                                </th>
                                <th scope="col" class="sortable">
                                    <div class="text"><span>Scheduled Jobs</span></div>
                                    <div class="clear"></div>
                                </th>
                                <th scope="col" class="sortable">
                                    <div class="text"><span>Workers</span></div>
                                    <div class="clear"></div>
                                </th>
                                <th scope="col" class="sortable">
                                    <div class="text"><span>Host</span></div>
                                    <div class="clear"></div>
                                </th>
                                <th scope="col" class="sortable">
                                    <div class="text"><span>Port</span></div>
                                    <div class="clear"></div>
                                </th>
                                <th scope="col" class="sortable">
                                    <div class="text"><span>DB</span></div>
                                    <div class="clear"></div>
                                </th>
                                {% if queue.scheduler_pid is not False %}
                                <th scope="col" class="sortable">
                                    <div class="text"><span>Scheduler PID</span></div>
                                    <div class="clear"></div>
                                </th>
                                {% endif%}
                            </tr>
                        </thead>
                        <tbody>
                            {% for queue in queues %}
                            <tr class="{% cycle 'row1' 'row2' %}">
                                <th>
                                    <a href="{% url url_prefix|add:'jobs' queue.index %}">
                                        {{ queue.name }}
                                    </a>
                                </th>
                                <th>
                                    <a href="{% url url_prefix|add:'jobs' queue.index %}">
                                        {{ queue.jobs }}
                                    </a>
                                </th>
                                <td>{{ queue.oldest_job_timestamp }}</td>
                                <th>
                                    <a href="{% url url_prefix|add:'started_jobs' queue.index %}">
                                        {{ queue.started_jobs }}
                                    </a>
                                </th>
                                <th>
                                    <a href="{% url url_prefix|add:'deferred_jobs' queue.index %}">
                                        {{ queue.deferred_jobs }}
                                    </a>
                                </th>
                                <th>
                                    <a href="{% url url_prefix|add:'finished_jobs' queue.index %}">
                                        {{ queue.finished_jobs }}
                                    </a>
                                </th>
                                <th>
                                    <a href="{% url url_prefix|add:'failed_jobs' queue.index %}">
                                        {{ queue.failed_jobs }}
                                    </a>
                                </th>
                                <th>
                                    <a href="{% url url_prefix|add:'scheduled_jobs' queue.index %}">
                                        {{ queue.scheduled_jobs }}
                                    </a>
                                </th>
                                <th><a href="{% url url_prefix|add:'workers' queue.index %}">
                                        {{ queue.workers }}
                                    </a>
                                </th>
                                <td>{{ queue.connection_kwargs.host }}</td>
                                <td>{{ queue.connection_kwargs.port }}</td>
                                <td>{{ queue.connection_kwargs.db }}</td>
                                {% if queue.scheduler_pid is not False %}
                                <td>{{ queue.scheduler_pid|default_if_none:"Inactive" }}</td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <p class="paginator">
                    <a href="{% url url_prefix|add:'home_json' %}" class="showall">View as JSON</a>
                {% if view_metrics %}
                    <a href="{% url url_prefix|add:'metrics' %}" class="showall">View Metrics</a>
                {% endif %}
                </p>
            </form>
        </div>
    </div>

    <h1>Cron Schedulers</h1>
    <div class="module" id="changelist">
        <div class="results">
            {% if cron_schedulers %}
            <table id="result_list">
                <thead>
                    <tr>
                        <th>
                            <div class="text"><span>Name</span></div>
                        </th>
                        <th><div class="text"><span>Host</span></div></th>
                        <th><div class="text"><span>Port</span></div></th>
                        <th><div class="text"><span>DB</span></div></th>
                    </tr>
                </thead>
                <tbody>
                    {% for cron_scheduler in cron_schedulers %}
                    <tr class="{% cycle 'row1' 'row2' %}">
                        <td><a href="{% url url_prefix|add:'cron_scheduler_detail' cron_scheduler.connection_index cron_scheduler.name %}">{{ cron_scheduler.name }}</a></td>
                        <td>{{ cron_scheduler.connection.connection_pool.connection_kwargs.host }}</td>
                        <td>{{ cron_scheduler.connection.connection_pool.connection_kwargs.port }}</td>
                        <td>{{ cron_scheduler.connection.connection_pool.connection_kwargs.db }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <p class="paginator">No running cron schedulers</p>
            {% endif %}
        </div>
    </div>

    {% if schedulers %}
    <h2>RQ Scheduler</h2>
    <table>
        <thead>
            <tr>
                <th>Redis Connection</th>
                <th>Recurring Jobs</th>
            </tr>
        </thead>
        {% for connection, scheduler in schedulers.items %}
        <tr class="{% cycle 'row1' 'row2' %}">
            <td><a href="{% url url_prefix|add:'scheduler_jobs' scheduler.index %}">{{ connection }}</a></td>
            <td><a href="{% url url_prefix|add:'scheduler_jobs' scheduler.index %}">{{ scheduler.count }}</a></td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
</div>

{% endblock %}
